# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore database files
db.sqlite3

# Ignore environment variables file
.env

# Ignore media files
media/

# Ignore static files
staticfiles/

# Ignore local settings
local_settings.py

# Ignore logs
*.log

# Ignore macOS system files
.DS_Store

# Ignore virtual environment
venv/

# Ignore IDE files
.vscode/
.idea/

# Ignore test database
*.test.db
