{% extends "trainees/base.html" %}
{% load static %}
{% block content %}
  
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 flex flex-col items-center justify-center">
    <br><br><br>
    <p class="text-center text-2xl lg:text-3xl text-gray-900 dark:text-blue-600">What did you eat today?</p>
    <br>

    <form method="post" class="w-full lg:w-1/2 flex items-end">
      {% csrf_token %}
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
      <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" name="query" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search food.." required>
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </div>
    </form>

<div class="w-full lg:w-1/3 text-center mt-8">
  <canvas id="myChart" style="width: 100%; height: auto;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
  
    const proteinData = '{{ protein_data|default:0 }}';
    const carbData = '{{ carb_data|default:0 }}';
    const fatData = '{{ fat_data|default:0 }}';
    const caloriesData = '{{ calories_data|default:0 }}';
    const foodName = '{{ food_name }}';
  
    const doughnutLabel = {
      id: 'doughnutLabel',
      beforeDatasetsDraw(chart, args, options) {
        const { ctx, chartArea } = chart;
        const { top, bottom, left, right, width, height } = chartArea;
  
        const fontSize = 30;
        const x = left + width / 2;
        const y = top + height / 2;
  
        ctx.save();
        ctx.font = `bold ${fontSize}px sans-serif`;
        ctx.fillStyle = 'rgba(54, 162, 235, 1)';
        ctx.textAlign = 'center';
        ctx.textBaseline = 'middle';
        ctx.fillText(caloriesData, x, y - fontSize / 2);
  
        const kcalText = 'kcal';
        ctx.font = `bold 20px sans-serif`;
        ctx.fillText(kcalText, x, y + fontSize / 2); 
        ctx.restore();
      },
    };
  
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Protein', 'Carb', 'Fat'],
        datasets: [{
          label: foodName,
          data: [proteinData, carbData, fatData],
          backgroundColor: ['#1C64F2', '#16BDCA', '#FDBA8C'],
          borderWidth: 1
        }]
      },
      options: {},
      plugins: [doughnutLabel]
    });
</script>
<br>
</div>
</section>



{% endblock content %}